@import "./variables.scss";
@import "./shared.scss";
@import "./landing.scss";

@import "./user/user.scss";
@import "./user/profile.scss";
@import "./user/userNavigationBar.scss";
@import "./user/userSideMenu.scss";

@import "./project/project.scss";
@import "./project/projectLanding.scss";

@import "./user/account.scss";
@import "./account/information.scss";
@import "./account/username.scss";


html {
  font-style: normal;
  font-weight: 100;
  font-family: $font;
}

html,
body,
#root,
.App {
  height: 100%;
}

h1 {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}